.product {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 32px;
  margin-top: 40px;
}

.info {
  width: 100%;
}

.info h3 {
  margin: 0 0 32px;

  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
}

.price {
  display: flex;
  align-items: center;
  gap: 32px;

  margin-bottom: 32px;
}

.currentPrice {
  font-size: 64px;
  line-height: 1;
  font-weight: 700;
}

.oldPrice {
  font-size: 40px;
  color: #8b8b8b;
  text-decoration: line-through;
}

.discount {
  background: #0d50ff;
  color: white;

  padding: 4px 8px;

  border-radius: 4px;

  font-size: 20px;
  font-weight: 600;
}

.actions {
  display: flex;
  align-items: center;

  gap: 24px;

  margin-bottom: 32px;
}

.quantity {
  display: flex;
  align-items: center;

  height: 58px;

  border: 1px solid #dddddd;
  border-radius: 5px;
}

.quantity button {
  width: 58px;
  height: 58px;

  border: none;
  background: white;

  font-size: 24px;
  color: #777;

  cursor: pointer;
}

.quantity span {
  width: 58px;

  text-align: center;

  font-size: 20px;
}

.addToCart {
  flex: 1;

  height: 58px;

  border: none;
  border-radius: 5px;

  background: #0057ff;
  color: white;

  font-size: 20px;

  cursor: pointer;
}

.description h4 {
  margin: 0 0 16px;

  font-size: 20px;
  font-weight: 600;
}

.description p {
  margin: 0 0 16px;

  font-size: 16px;
  line-height: 1.4;

  color: #282828;
}

.readMore {
  margin-top: 16px;

  padding: 0;

  border: none;
  background: none;

  font-size: 16px;

  text-decoration: underline;

  cursor: pointer;
}

.collapsed {
  display: -webkit-box;
  -webkit-line-clamp: 11;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.expanded {
  display: block;
}
