*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
h1,
h2,
h3,
p,
ul,
ol {
  margin: 0;
}
ul,
ol {
  list-style: none;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
button,
input,
textarea {
  font: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}

:root {
  --color-blue: #0d50ff;
  --color-gray: #f1f3f4;
  --color-text: #282828;
  --gap: 32px;
}
.container {
  padding: 0 40px;
}
