.title {
  margin-top: 80px;
  font-size: 64px;
  color: #282828;
  font-weight: 700;
}
.contacts {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.contactItem {
  background-color: #f1f3f4;
  padding: 16px;
  border-radius: 6px;
}
.contactItem span {
  font-size: 20px;
  font-weight: 500;
  color: #8b8b8b;
}
.text {
  font-size: 40px;
  font-weight: 600;
}

.map {
  height: 350px;
}
