.productsPage h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 110%;
  margin: 0 0 15px;
  margin-bottom: 40px;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 16px;
  width: 100%;
}

@media (max-width: 900px) {
  .cardsGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 600px) {
  .productsPage {
    padding: 0 15px;
  }

  .cardsGrid {
    grid-template-columns: 1fr;
  }

  .filters {
    flex-wrap: wrap;
  }

  .sort {
    margin-left: 0;
    width: 100%;
  }
}
